.page-header {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgba(116, 139, 156, 0.5);
    color: #eee5e5;
    background-image: linear-gradient(90deg, #002F52 35%, #326589);
}

.container {
    text-align: center;
    color: #ccc0c0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #dce1e6;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #fcfcfc;
}

.btn-secondary {
    background-color: #8a8f94;
    border-color: #dce1e6;
}

.btn-secondary:hover {
    background-color: #485c72;
    border-color: #fcfcfc;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
